html { width: 100%; height: 100%; }
body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  /* background: #4e54c8;
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);
  background: linear-gradient(to right, #8f94fb, #4e54c8); */
  background: #30475e;
}
#content {
  flex-grow: 1;
}
#article {
  margin: 4em 0;
  padding: 2em 0;
  background-color: #ececec;
  border-radius: 5px;
}
#footer {
  height: 50px;
  background-color: #222831;
  color: white;
  font-family: Arial;
  font-size: 1rem;
  line-height: 50px;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  text-align: center;
}
