#colors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
}
.color {
  flex-grow: 1;
  height: 200px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
#color1 { background-color: #222831; }
#color2 { background-color: #30475e; }
#color3 { background-color: #c1a57b; }
#color4 { background-color: #ececec; }
