#introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
}
#image {
  flex-shrink: 1;
}
#about {
  flex-grow: 1;
  text-align: right;
  font-size: 1.3rem;
  list-style-type: none;
}
#about > li {
  margin-bottom: 1rem;
}
#button-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em;
  background-color: #c1a57b;
}
#list {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
