#gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  padding: 2em;
}
#gallery img {
  width: 30%;
  margin: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}
