{extends layout.latte}

{block title}Barvy{/block}

{block content}
  <h1>Barevné schéma</h1>
  <div style="text-align: center;">
    <p>Barevné schéma pro web jsem našel na webu Color Hunt. Konkrétně se jedná o <a href="https://colorhunt.co/palette/179372" target="_blank">tuto paletu</a>.</p>
  </div>
  <div id="colors">
    <div id="color1" class="color"></div>
    <div id="color2" class="color"></div>
    <div id="color3" class="color"></div>
    <div id="color4" class="color"></div>
  </div>
{/block}
