{extends layout.latte}

{block title}Kontakt{/block}

{block content}
  <h1>Kontakt</h1>
  <div id="contact" class="container-fluid">
    <p>Můžete mě kontaktovat pomocí <a href="form.php">tohoto formuláře</a>.</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Jméno</th>
          <th scope="col">Příjmení</th>
          <th scope="col">Bydliště</th>
          <th scope="col">Telefon</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Milan</td>
          <td>Vodák</td>
          <td>Bystřice n. P.</td>
          <td>732 964 410</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Josef</td>
          <td>Novák</td>
          <td>Praha</td>
          <td>123 456 789</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Tereza</td>
          <td>Novotná</td>
          <td>Brno</td>
          <td>987 654 321</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Michal</td>
          <td>Dvořák</td>
          <td>Vídeň</td>
          <td>314 159 265</td>
        </tr>
      </tbody>
    </table>
  </div>
{/block}
