{extends layout.latte}

{block title}Galerie{/block}

{block content}
  <div class="alert alert-danger" role="alert" style="margin: 2em 3em;">
    Stránka se může načítat dlouho kvůli obrázkům :|
  </div>
  <h1>Galerie</h1>
  <h3>Náhodné obrázky přírody</h3>
  <h6><s>protože nevím co sem dát</s></h6>
  <h6><bdo dir="rtl">Vše poctivě ukradeno z Pixabay</bdo></h6>
  <div id="gallery" class="container-fluid">
    <img src="https://cdn.pixabay.com/photo/2015/04/23/22/01/tree-736887_1280.jpg" alt="strom">
    <img src="https://cdn.pixabay.com/photo/2016/01/08/11/57/butterfly-1127666_1280.jpg" alt="motýl">
    <img src="https://cdn.pixabay.com/photo/2015/06/19/21/24/the-road-815297_1280.jpg" alt="lesní cesta">
    <img src="https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_1280.jpg" alt="ostrov">
    <img src="https://cdn.pixabay.com/photo/2017/01/03/19/41/forest-1950402_1280.jpg" alt="les">
    <img src="https://cdn.pixabay.com/photo/2014/01/17/19/01/tree-247122_1280.jpg" alt="další strom">
  </div>
{/block}
