{extends layout.latte}

{block title}Hry{/block}

{block content}
    <div style="padding: 0 5em; text-align: center;" class="container-fluid">
        <h1>Flappy Bird</h1>
        <canvas id="canvas" width="288" height="512" style="width: 288px; margin: 1em auto;"></canvas>
        <h3 id="lost"></h3>
        <p>Zdroj hry: <a href="https://youtu.be/L07i4g-zhDA">https://youtu.be/L07i4g-zhDA</a></p>

        <hr>

        <h1>Piškvorky</h1>
        <table id="deska" style="margin: 0 auto;">
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <script src="{$basePath}/js/hra.js"></script>
    <script src="{$basePath}/js/tah.js"></script>
    <script src="{$basePath}/js/flappyBird.js"></script>
{/block}