{extends layout.latte}

{block title}Domů{/block}

{block content}
  <h1>O mně</h1>
  <div id="introduction" class="container-fluid">
    <img id="image" src="img/face.svg" alt="person face">
    <ul id="about">
      <li>Jmenuji se Milan Vodák.</li>
      <li>Je mi 17 let a jsem student IT.</li>
      <li>Studuji na prestižní střední škole EDUCAnet Brno.</li>
      <li>Mezi moje zájmy patří programování, šipky a hra na klavír.</li>
    </ul>
  </div>

  <div id="button-bar" class="container-fluid">
    <a href="{$basePath}/gallery"><button type="button" class="btn btn-dark">Galerie</button></a>
    <a href="{$basePath}/contact"><button type="button" class="btn btn-dark">Kontakt</button></a>
    <a href="https://www.iskola.cz/brnoeducanet" target="_blank"><button type="button" class="btn btn-dark">iŠkola</button></a>
    <button type="button" class="btn btn-dark" onclick="alert('Haha');">Klikni sem</button>
  </div>

  <h3>Najdete zde:</h3>
  <div id="list" class="container-fluid">
    <ol>
      <li>hlavní stránku, která bude sloužit jako úvodní rozcestník</li>
      <li>alespoň 3 podstránky</li>
      <li>využití alespoň 3 úrovní nadpisů, ve správné struktuře</li>
      <li>číslovaný i nečíslovaný seznam</li>
      <li>tabulka, min 4 řádky a 4 sloupce</li>
      <li><b>formátování textu pomocí vhodných HTML elementů</b></li>
      <li>odkazy na všechny podstránky (prolinkování všech stránek se všemi, doporučuji pomocí menu)</li>
      <li>odkaz mimo projekt, alespoň jeden</li>
      <li><q>použití citací</q></li>
      <li>galerie několika obrázků</li>
      <li><span style="color: red;">vhodné formátování pomocí CSS</span></li>
      <li>vhodná paleta barev (zvolaná např pomocí Color Hunt), podstránka o volbě palety barev vč. výstupů ze zvoleného nástroje (tento bod do 5.5.)</li>
      <li>bootstrap komponenty</li>
      <li>flexbox pro celkové rozložení stránky</li>
    </ol>
  </div>
{/block}
