<!DOCTYPE html>
<html lang="cs" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{$basePath}/css/base.css">
    <link rel="stylesheet" href="{$basePath}/css/front.css">
    <link rel="stylesheet" href="{$basePath}/css/gallery.css">
    <link rel="stylesheet" href="{$basePath}/css/contact.css">
    <link rel="stylesheet" href="{$basePath}/css/colors.css">
    <link rel="stylesheet" href="{$basePath}/css/piskvorky.css">
    <link rel="favicon" href="{$basePath}/favicon.ico">
    <title>{include title} - MV</title>
  </head>
  <body>
    <!-- navbar ukradeny z bootstrapu -->
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #222831;">
      <div class="navbar-brand">MV</div>
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="{link index}">Domů</a>
        <a class="nav-item nav-link" href="{link gallery}">Galerie</a>
        <a class="nav-item nav-link" href="{link contact}">Kontakt</a>
        <a class="nav-item nav-link" href="{link colors}">Barvy</a>
        <a class="nav-item nav-link" href="{link test}">Kvíz</a>
        <a class="nav-item nav-link" href="{link games}">Hry</a>
      </div>
    </nav>

    <!-- obsah napsany mnou + neco ukradene z boostrapu -->
    <div id="content" class="container">
      <div id="article">
        {include content}
      </div>
    </div>

    <!-- paticka napsana mnou -->
    <!-- a dokonce drzi dole :) -->
    <div id="footer">
      © 2020 Milan Vodák
    </div>
  </body>
</html>
