{extends layout.latte}

{block title}Vyhodnocení testu | Výukový web{/block}

{block content}
    <h1>Vyhodnocení testu</h1>
    <div style="padding: 2em;">
        <p>Tvůj výsledek testu je <b>{$body}/4</b></p>
        <p><a href="{link index}">Zpět na hlavní stránku</a></p>
    </div>
{/block}