{extends layout.latte}

{block title}Kvíz{/block}

{block content}
    <h1>Kvíz o mně</h1>
    <form method="post" action="{link test-done}" class="container-fluid" style="padding: 2em 5em;">
        <h3>Jak se jmenuji?</h3>
        <p><input type="radio" id="1a" name="1" value="b" required>
        <label for="1a">Pavel</label></p>
        <p><input type="radio" id="1b" name="1" value="c" required>
        <label for="1b">Josef</label></p>
        <p><input type="radio" id="1c" name="1" value="a" required> {* správně *}
        <label for="1c">Milan</label></p>
        <hr>

        <h3>Kolik je mi let?</h3>
        <p><input type="radio" id="2a" name="2" value="b" required>
        <label for="2a">16</label></p>
        <p><input type="radio" id="2b" name="2" value="a" required> {* správně *}
        <label for="2b">17</label></p>
        <p><input type="radio" id="2c" name="2" value="c" required>
        <label for="2c">18</label></p>
        <hr>

        <h3>Jakou školu studuji?</h3>
        <p><input type="radio" id="3a" name="3" value="b" required>
        <label for="3a">Kvalitní a světoznámá IT škola Brno, Čichnova</label></p>
        <p><input type="radio" id="3b" name="3" value="c" required>
        <label for="3b">Výběrové gymnázium, třída Kapitána Jaroše</label></p>
        <p><input type="radio" id="3c" name="3" value="a" required> {* správně *}
        <label for="3c">Prestižní střední odborná škola EDUCAnet Brno</label></p>
        <hr>

        <h3>Kde bydlím?</h3>
        <p><input type="radio" id="4a" name="4" value="b" required>
        <label for="4a">Nikde</label></p>
        <p><input type="radio" id="4b" name="4" value="a" required> {* správně *}
        <label for="4b">Doma</label></p>
        <p><input type="radio" id="4c" name="4" value="c" required> 
        <label for="4c">V Brně</label></p>
        <hr>

        <input type="submit" value="Odeslat" />
    </form>
{/block}
